# roles/account/tasks/main.yml
---
- name: "Include {{ ansible_distribution }} variables"
  include_vars: "{{ item }}"
  with_first_found:
    - "{{ ansible_distribution }}.yml"
    - "{{ ansible_os_family }}.yml"
  tags: install

- name: Create the 'openio' group
  group:
    name: openio
    gid: "{{ openio_group_openio_gid | default('220')}}"
  tags: install

- name: Create the 'openio' user
  user:
    name: openio
    comment: "openio account"
    uid: "{{ openio_user_openio_uid | default('120')}}"
    group: openio
  tags: install

- name: "Include {{ ansible_distribution }} tasks"
  include_tasks: "{{ item }}"
  with_first_found:
    - "{{ ansible_distribution }}.yml"
    - "{{ ansible_os_family }}.yml"
  tags: install

- name: Test directories presence
  stat:
    path: "{{ item }}"
  register: _dir
  with_items:
    - "/etc/gridinit.d/{{ openio_account_namespace }}"
    - "{{ openio_account_sysconfig_dir }}/account-{{ openio_account_serviceid }}"
    - "/etc/oio/sds/{{ openio_account_namespace }}/watch"

- name: Ensure directories exists
  file:
    path: "{{ item.item }}"
    state: directory
    owner: openio
    group: openio
    mode: 0755
    recurse: true
  with_items: "{{ _dir.results }}"
  when: not item.stat.exists
  tags: install

- name: Generate configuration files
  template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: openio
    group: openio
    mode: 0644
  with_items:
    - src: "account.conf.j2"
      dest: "{{ openio_account_sysconfig_dir }}/\
        account-{{ openio_account_serviceid }}/account-{{ openio_account_serviceid }}.conf"
    - src: "gridinit_account.conf.j2"
      dest: "{{ openio_account_gridinit_dir }}/{{ openio_ecd_gridinit_file_prefix }}\
        account-{{ openio_account_serviceid }}.conf"
    - src: "watch-account.yml.j2"
      dest: "{{ openio_account_sysconfig_dir }}/watch/account-{{ openio_account_serviceid }}.yml"
  register: _account_conf

- name: restart account
  shell: |
    gridinit_cmd reload
    gridinit_cmd restart  {{openio_account_namespace}}-account-{{openio_account_serviceid}}
  when: _account_conf.changed
  tags: configure
...
