# {{ ansible_managed }}
[account-server]
bind_addr = {{ openio_account_bind_address }}
bind_port = {{ openio_account_bind_port }}
#backlog = {{ openio_account_backlog }}
sentinel_hosts = {{ openio_account_sentinels_hosts | join(',') }}
sentinel_master_name = {{ openio_account_sentinel_master_name }}
log_level = {{ openio_account_log_level }}
log_facility = {{ openio_account_log_facility }}
log_address = {{ openio_account_log_address }}
syslog_prefix = OIO,{ openio_account_namespace }},account,{{ openio_account_serviceid }}
autocreate = true
